<!-- should require <map> ancestor -->
<area>

<map name="foo">
	<!-- should not allow end tag -->
	<area></area>

	<!-- should not allow content -->
	<area>
		<span>foo</span>
	</area>
</map>

<!-- should not allow invalid shape attribute -->
<map id="invalid-shape" name="foo">
	<area shape="" coords>
	<area shape="foobar" coords>
</map>

<!-- missing alt when required -->
<map id="missing-alt" name="foo">
	<area href="target">
</map>

<!-- empty alt when required -->
<map id="empty-alt" name="foo">
	<area href="target" alt="">
</map>

<!-- alt must be mitted when href is not present -->
<map id="omit-alt" name="foo">
	<area alt="">
	<area alt="lorem ipsum">
</map>

<!-- should not allow invalid type keywords -->
<map id="invalid-target" name="invalid-target">
	<area href="target" target="_invalid" alt="lorem ipsum">
</map>

<!-- target cannot be used without href -->
<map id="target-missing-href" name="target-missing-href">
	<area target="_blank">
</map>

<!-- should not be allowed if href is omitted -->
<map id="invalid-without-href" name="invalid-without-href">
	<area target="_blank" download ping rel referrerpolicy itemprop>
</map>

<!-- should not allow "coords" attribute when shape is "default" -->
<map name="invalid-with-coords">
	<area shape="default" coords="..">
</map>

<!-- should require "coords" -->
<map name="missing-coords">
	<area shape>
	<area shape="circle">
	<area shape="poly">
	<area shape="rect">
</map>
